html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.fighterDetails {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    background: #ccc;
    color: blue;
    text-align: center;
    z-index: 100;
    border: 1px solid #ccc;
}

.fighterDetails > span {
    margin-bottom: 10px;
}

.fighterDetails > .exit {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
}

.fighterDetails > .exit:hover {
    color: red;
}

.fighterDetails input {
    width: 60px;
}

.fighterDetails .button {
    margin: 0 auto;
    display: inline-block;
    width: 60px;
    padding: 5px;
    border: 1px solid blue;
    border-radius: 5px;
    background-color: blue;
    color: white; 
}

.fighterDetails .button:hover {
    background-color: #7182FF; 
}

.fighterDetails .button:active {
    transform: scale(0.9); 
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}
